#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #939597;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    background-color: #939597;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}



@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

header[data-component='header']{
    background-color: red;
}
footer[data-component='footer']{
    background-color: blue;
}
ul{
    list-style:none;  
}

div[data-component='todo']{
    margin-left: 20%;
    margin-right: 20%;
}
div[data-component='todoinput']{
    margin-left: 10%;
}
div[data-component='todolist']{
    margin-left: 10%;
}
div[data-component='todolist'] li{
    width: 90%;
    display: inline-block
}
div[data-component='todolist'] li button{
    float:right
}